
@{ ViewBag.Title = "Error401"; }

<h2>Error401</h2>
<h1 class="well text-danger">
    You're not Authorize to view This Page. Please LogIn to Continue!!!
</h1>


<p>
    <button class="btn btn-success"> @Html.ActionLink("Login", "Login", "Login")</button>
</p>